<html lang="en">
    <head>
    </head>
    <body data-th-fragment="bodyHeader">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Scoala Generala Telesti</a>

                <ul class="right hide-on-med-and-down" th:each = "info : ${infos}">
                    <li>
                        <a data-th-href="${info.urlInfo}" th:text="${info.name}"/>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
