<html lang="en">
    <head>
    </head>
    <body data-th-fragment="bodyHeader">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Scoala Generala Telesti</a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a data-th-href="@{/home}">acasa</a>
                    </li>
                    <li>
                        <a data-th-href="@{/events}">evenimente</a>
                    </li>
                    <li>
                        <a data-th-href="@{/history}">istoric</a>
                    </li>
                    <li>
                        <a data-th-href="@{/contact}">contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
