<html lang="en">
    <head data-th-fragment="headerTag">
        <title>Scoala Generala Telesti</title>
        <link data-th-href="@{/webjars/materializecss/0.97.0/css/materialize.css}"
              type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <script data-th-src="@{/webjars/jquery/2.1.4/jquery.js}" ></script> 
        <script data-th-src="@{/webjars/materializecss/0.97.0/js/materialize.js}" ></script>
        
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    </head>
    <body>
    </body>
</html>
