<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head data-th-replace="fragments/headerTag :: headerTag"/>
    <body>
        <div data-th-include="fragments/bodyHeader" th:remove="tag"/>
        <div class="container" data-th-fragment="newsFragment">
            <ul class = "collection" th:each = "news : ${pageNews}">
                <li class="collection-item avatar" >
                    <i class = "material-icons circle blue">input</i>
                    <span class = "title" th:text = "${news.headline}"/>
                    <p th:text = "${news.content}"> </p>
                    <p class="secondary-content" th:text = "${news.addDate}"> </p>
                </li>
            </ul>
        </div>
        <div data-th-include="fragments/footer"/>
    </body>
</html>
